/* chart */
.chart {
  height: 800px;
}

/* overview */
.container {
  width: 90%;
  border: solid #e1ad01;
  border-radius: 15px;
  margin: 0 auto;
}
.container p {
  width: 44%;
  display: inline-block;
  margin: 5px 30px 5px 30px;
  font-weight: bold;
  color: dodgerblue;
}
.container p span {
  text-align: right;
  float: right;
  font-weight: normal;
  color: #57c276;
}
