<div class="search-bar">
  <input type="search" placeholder="enter a stock ticker" [(ngModel)]="searchInput">
  <button (click)="goToStock()"><span class="material-icons">search</span></button>
</div>

<form class="filters">
  <input type="radio" id="day" name="filter" value="INTRADAY" [(ngModel)]="timeSeries" checked>
  <label for="day">day</label>
  <input type="radio" id="week" name="filter" value="WEEKLY" [(ngModel)]="timeSeries">
  <label for="week">week</label>
  <input type="radio" id="month" name="filter" value="MONTHLY" [(ngModel)]="timeSeries">
  <label for="month">month</label>
</form>

<div class="subheader">
  <h1>Trending Tickers</h1>
</div>

<div class="card">
  <div class="title">
    <h1>$TSLA</h1>
  </div>
  <div class="content">
    <p>Open<span>$113</span></p>
    <p>Close<span>$134</span></p>
    <p>High<span>$250</span></p>
    <p>Low<span>$97</span></p>
  </div>
</div>

