/* search bar */
.search-bar {
  text-align: center;
}
input {
  width: 50%;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  background: #171b26;
  border: solid #F9DC5C;
  font-size: large;
  color: #F9DC5C;
}
input::placeholder {
  font-size: large;
}
input:focus {
  background: rgba(249, 220, 92, 0.28);
  outline: none;
}

/* submit button */
.search-bar button {
  border-style: none;
  cursor: pointer;
  background: #F9DC5C;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 2px 3px rgb(124, 119, 119);
}
.search-bar button:active {
  box-shadow: 0 2px #666;
  transform: translateY(5px);
  background: #76909d;
}
.search-bar span {
  color: #171b26;
  font-weight: bold;
}

/* filters*/
.filters{
  text-align: center;
  font-weight: bold;
}
.filters label {
  display: inline-block;
  padding: 15px;
  margin: 0 5px 15px;
  border: solid #F9DC5C;
  border-radius: 15px;
  color: #F9DC5C;

}
.filters input[type="radio"] {
  display: none;
}
.filters input[type="radio"]:checked + label {
  background: #F9DC5C;
  color: #171b26;
}

/* subheader */
.subheader h1 {
  margin: 10px;
  padding: 2px 10px;
  /*border: solid #2D7DD2;*/
  color: #57c276;
  /*background: #2D7DD2;*/
  /*border-radius: 15px;*/
  display: inline-block;
}

/* card */
.card {
  width: 150px;
  border: solid #FCBCB8;
  transition: 0.3s;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}
.card:hover {
  box-shadow: 0 0 #FCBCB8;
  transform: translateY(5px);
}
.title {
  background: #FCBCB8;
  border-radius: 10px;
  text-align: center;
}
.content {
  color: #FCBCB8;
}
.content p span {
  text-align: right;
  float: right;
}
