<div class="search">
  <input type="search" placeholder="enter a stock ticker" [(ngModel)]="searchQuery" (change)="showSuggestions()">
  <button class="search-btn"><span class="material-icons">search</span></button>
</div>

<form class="filters">
  <input type="radio" id="day" name="filter" value="INTRADAY" [(ngModel)]="timeSeries" checked>
  <label for="day">day</label>
  <input type="radio" id="week" name="filter" value="WEEKLY" [(ngModel)]="timeSeries">
  <label for="week">week</label>
  <input type="radio" id="month" name="filter" value="MONTHLY" [(ngModel)]="timeSeries">
  <label for="month">month</label>
</form>

<div *ngIf="showSearch">
  <h1 class="subheader">Search Results</h1>
  <div class="horizontal-scroll">
    <div class="card" *ngFor="let query of queryResults" (click)="goToStock(query)">
      <div class="title">
        <h1>${{ query["1. symbol"] }}</h1>
      </div>
      <div class="content">
        <p>Currency<span>{{ query["8. currency"] }}</span></p>
        <p>Time Zone<span>{{ query["7. timezone"] }}</span></p>
        <p>Type<span>{{ query["3. type"] }}</span></p>
      </div>
    </div>
  </div>
</div>

<h1 class="subheader">Trending Stocks</h1>
<div class="horizontal-scroll">
  <div class="trending-stock" *ngFor="let stock of trendingStocks" (click)="navigateToStock(stock)">${{ stock }}</div>
</div>
